@use '../../../Styles/helpers/index' as *;

.offer {

  background: transparent;
  backdrop-filter: blur(3px);
  padding: rem(20);
  border-radius: rem(30);
  display: grid;
  grid-template-areas:
    'title title'
    'img img'
    'description description'
    'price price'
    'amount amount'
    'button button'
;
  border: 1.4px solid color-mix(in oklab, var(--frame), transparent 60%);
  /* едва заметная внутренняя линия («вторая белая»): */
  box-shadow:
          inset 5px 5px 9px 2px color-mix(in oklab, var(--frame), transparent 70%) ;

  @include mobile {
    grid-template-areas:

    'img img'
    'title title'
    'description description'
    'price amount'
    'button button'
  ;

    row-gap: rem(10);
    column-gap: rem(10);
  }





  &__title {
    grid-area: title;
  }

  &__description {
    grid-area: description;
  }

  &__img {
    grid-area: img;
    width: 100%;
    height: auto;

  }

  &__button {
    grid-area: button;
  }

  &__amount {
    grid-area: amount;
  }

  &__price {
    grid-area: price;
  }
}