@use 'helpers' as *;
@use 'fonts' as *;



:root {
    --color-bg: #dccbcb;
    --color-text: #050315;
    --color-primary: #2f27ce;
    --color-secondary: #dedcff;
    --color-accent: #3b5eff;
    --color-bg-darkTheme: #05050c;


    --font-family-base: 'Gruppo', sans-serif;


    --transition-duration: 0.2s;



    @include laptop {
        --container-width: #{rem(1280)};
    }
}
