@use '../../../Styles/helpers' as *;

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: rem(5);
  row-gap: rem(10);

  &__descWrapper {
    position: absolute;
    top: rem(200);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mobile {
      top: rem(110);
    }
  }

  &__welcomeImage {
    position: relative;
    width: 100%;
    height: auto;
    max-height: 400px;

    @include mobile {
      height: 200px;
    }
  }

  &__desc {
    text-align: center;
  }

}