@use '../../Styles/helpers/index' as *;

.cartLayout {
  padding-top: rem(40);
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 55% 1fr;
  column-gap: rem(30);
  padding-bottom: rem(40);

  @include mobile {
    grid-template-columns: repeat(1, 1fr);
    row-gap: rem(20);
  }
}

.cartItems {
  padding-top: rem(30);
  display: flex;
  flex-direction: column;
  row-gap: rem(30);
  overflow-y: auto;
  max-height: rem(600);
  min-height: rem(600);
  backdrop-filter: blur(3px);
  border-radius: rem(64);
  border: 1.4px solid color-mix(in oklab, var(--frame), transparent 60%);
  /* едва заметная внутренняя линия («вторая белая»): */
  box-shadow:
          inset 20px 20px 20px 2px color-mix(in oklab, var(--frame), transparent 70%) ;

}




.cartControls {

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: rem(20);
}

.priceWrapper {
  padding-left: rem(30);
  padding-block: rem(18);
  display: flex;
  flex-direction: column;
  min-height: rem(100);
  backdrop-filter: blur(3px);
  border-radius: rem(30);
  border: 1.1px solid color-mix(in oklab, var(--frame), transparent 60%);
  /* едва заметная внутренняя линия («вторая белая»): */
  box-shadow:
          inset 5px 5px 15px 9px color-mix(in oklab, var(--frame), transparent 70%) ;
  align-items: center;
  justify-content: center;
  @include mobile {
    padding-left: 0;
  }
}

.cartDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: rem(20);
}