@use '../../../Styles/helpers' as *;

.BuyControls {
  display: inline-flex;
  column-gap: rem(10);
  align-items: center;


  .incrdecrbutton {

    background: transparent;
    border-radius: rem(10);
    height: rem(30);
    width: rem(30);
    border: 1.4px solid color-mix(in oklab, var(--frame), transparent 60%);
    /* едва заметная внутренняя линия («вторая белая»): */
    box-shadow:
            inset 5px 5px 9px 2px color-mix(in oklab, var(--frame), transparent 70%) ;
    backdrop-filter: blur(4px);

    @include hover {
      background: rgba(250, 242, 232, 0.25);
      scale: 101%;
    }
  }

  .addtocartbutton {
    background: transparent;
    border: 1.4px solid color-mix(in oklab, var(--frame), transparent 60%);
    /* едва заметная внутренняя линия («вторая белая»): */
    box-shadow:
            inset 5px 5px 9px 2px color-mix(in oklab, var(--frame), transparent 70%) ;
    border-radius: rem(10);
    height: rem(30);
    text-align: center;

    @include hover {
      scale: 101%;
      background: rgba(255, 255, 255, 0.2);
    }

  }

  .amount {
    width: rem(20);
    text-align: center;
  }
}