@use '../../Styles/helpers/index' as *;




.offersBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-inline: rem(60);
  background-color: var(--color-bg);
  padding-block: rem(20);
  gap: rem(40);




  @include laptop {
    grid-template-columns: repeat(3, 1fr);
    padding-inline: rem(40);
  }



  @include mobile {
    grid-template-columns: repeat(1, 1fr);
    padding-inline: rem(40);
    row-gap: rem(30);
  }

  &__item {
    padding: rem(10);
    align-self: center;
    justify-self: center;
  }
}
