@use '../../../Styles/helpers/index' as *;

.offer {
  display: grid;
  grid-template-areas:
  'title title'
  'img img'
  'description button'
  ;

  &__title {
    grid-area: title;
  }

  &__description {
    grid-area: description;
  }

  &__img {
    grid-area: img;
  }

  &__button {
    grid-area: button;
  }
}